<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <div th:replace="fragments/header :: header-css"/>
  <title>Employee Management System</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
  <h1>Информация о Стеллаже</h1>
  <hr>
  <h2>Сохранить Стеллаж</h2>

  <form action="#" th:action="@{/shelf/save}" th:object="${shelf}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <input type="text" th:field="*{name}" placeholder="Название" required class="form-control input-lg">
    </div>
    <div class="form-group">
      <input type="text" th:field="*{locationDescription}" placeholder="Описание местоположения" required class="form-control input-lg">
    </div>
    <div class="form-group">
      <input type="text" th:field="*{sector.id}" placeholder="Айди Сектора" required class="form-control input-lg">
    </div>
    <button type="submit" class="btn btn-default">Сохранить Стеллаж</button>
  </form>

  <hr>

  <a th:href="@{/shelf/getAll}">Обратно к списку Стеллажей</a>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
