<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <div th:replace="fragments/header :: header-css"/>
  <title>Employee Management System</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
  <h1>Информация о Разделах РТИ</h1>
  <hr>
  <h2>Сохранить Раздел РТИ</h2>

  <form action="#" th:action="@{/rubberProducts/save}" th:object="${rubberProducts}" method="POST">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <input type="text" th:field="*{name}" placeholder="Название" class="form-control input-lg">
    </div>
    <div class="form-group">
      <input type="text" th:field="*{description}" placeholder="Описание" class="form-control input-lg">
    </div>
    <button type="submit" class="btn btn-default">Сохранить Раздел РТИ</button>
  </form>

  <hr>

  <a th:href="@{/rubberProducts/getAll}">Обратно к списку Разделов РТИ</a>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
