<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <div th:replace="fragments/header :: header-css"/>
  <title>Employee Management System</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container">
  <h1>Информация о Типе товара</h1>
  <hr>
  <h2>Сохранить Типе товара</h2>

  <form action="#" th:action="@{/productType/save}" th:object="${productType}" required method="POST">
    <input type="hidden" th:field="*{id}" />
    <div class="form-group">
      <input type="text" th:field="*{name}" placeholder="Название" required class="form-control input-lg">
    </div>
    <div class="form-group">
      <input type="text" th:field="*{description}" placeholder="Описание" required class="form-control input-lg">
    </div>
    <div class="form-group">
      <input type="text" th:field="*{rubberProducts.id}" placeholder="Id раздела РТИ" required class="form-control input-lg">
    </div>
      <button type="submit" class="btn btn-default">Сохранить Тип товара</button>
  </form>

  <hr>

  <a th:href="@{/productType/getAll}">Обратно к списку типов товара</a>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
