<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="fragments/header :: header-css"/>
    <title>Employee</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container my-2" align="center">

    <h3>Список товаров</h3>
    <a th:href="@{/product/addNewProduct}" class="btn btn-primary btn-sm mb-3" >Добавить товар</a>
    <table style="width:100%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название товара</th>
            <th>Тип товара товара</th>
            <th>Описание товара</th>
            <th>Расположение товара</th>
            <th>Id партии товара</th>
            <th>Остаток организации товара</th>
            <th>Единица измерения товара</th>
            <th>Цена товара</th>
            <th>Дата прихода товара</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product:${products}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td> <a th:href="@{/productType/showProductTypeByIdForUpdate/{id}(id=${product.productType.id})}"
                    class="btn btn-primary" th:text="${batch.productType.id}"></a>
            <td th:text="${product.description}"></td>
            <td> <a th:href="@{/shelf/showShelfByIdForUpdate/{id}(id=${product.shelf.id})}"
                    class="btn btn-primary" th:text="${product.shelf.id}"></a>
            <td> <a th:href="@{/batch/showBatchByIdForUpdate/{id}(id=${product.batch.id})}"
                    class="btn btn-primary" th:text="${product.batch.id}"></a>
            <td th:text="${product.remains}"></td>
            <td th:text="${product.unitOfMeasurement}"></td>
            <td th:text="${product.price}"></td>
            <td th:text="${product.arrivalDate}"></td>
            <td> <a th:href="@{/product/showProductByIdForUpdate/{id}(id=${product.id})}"
                    class="btn btn-primary">Update</a>
                <form th:action="@{/product/deleteProductById/{id}(id=${product.id})}" th:method="delete" >
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
