<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="fragments/header :: header-css"/>
    <title>Employee</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container my-2" align="center">

    <h3>Список кассовых чеков с продукцией</h3>
    <a th:href="@{/receiptProduct/addNewReceiptProduct}" class="btn btn-primary btn-sm mb-3" >Добавить кассовый чек с продукцией</a>
    <table style="width:100%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Id чека</th>
            <th>Id товара</th>
            <th>Количество</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="receiptProduct:${receiptProducts}">
            <td th:text="${receiptProducts.id}"></td>
            <td> <a th:href="@{/receipt/showReceiptByIdForUpdate/{id}(id=${receiptProduct.receipt.id})}"
                    class="btn btn-primary" th:text="${receiptProduct.receipt.id}"></a></td>
            <td><a th:href="@{/product/showProductByIdForUpdate/{id}(id=${receiptProduct.product.id})}"
                    class="btn btn-primary" th:text="${receiptProduct.product.id}"></a></td>
            <td th:text="${receiptProduct.amount}"></td>

            <td> <a th:href="@{/receiptProduct/showReceiptProductByIdForUpdate/{id}(id=${receiptProduct.id})}"
                    class="btn btn-primary"></a>
                <form th:action="@{/receiptProduct/deleteReceiptProductById/{id}(id=${receiptProduct.id})}" th:method="delete" >
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>

</html>
