<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <div th:replace="fragments/header :: header-css"/>
    <title>Sector</title>
</head>
<body>
<div th:replace="fragments/header :: header"/>
<div class="container my-2" align="center">

    <h3>Список секторов</h3>
    <a th:href="@{/sector/addNewSector}" class="btn btn-primary btn-sm mb-3" >Добавить сектор</a>
    <table style="width:100%" border="1"
           class = "table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Id</th>
            <th>Название</th>
            <th>Описание местоположения</th>
            <th>Склад</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sector:${sectors}">
            <td th:text="${sector.id}"></td>
            <td th:text="${sector.name}"></td>
            <td th:text="${sector.locationDescription}"></td>
            <td> <a th:href="@{/warehouse/showWarehouseByIdForUpdate/{id}(id=${sector.warehouse.id})}"
                    class="btn btn-primary" th:text="${sector.warehouse.id}"></a>
            <td> <a th:href="@{/sector/showSectorByIdForUpdate/{id}(id=${sector.id})}"
                    class="btn btn-primary">Update</a>
            <form th:action="@{/sector/deleteSectorById/{id}(id=${sector.id})}" th:method="delete" >
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"/>
</body>
</html>
